client/node_modules
server/node_modules
client/dist
server/dist
client/dist-ssr
server/dist-ssr
client/*.local
server/*.local
client/.vscode/*
server/.vscode/*
client/.idea
server/.idea
client/*.suo
server/*.suo
client/*.ntvs*
server/*.ntvs*
client/*.njsproj
server/*.njsproj
client/*.sln

client/.env
server/.env